{% extends "layout.html" %}

<!-- Page d'accueil du site -->

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        
        <h1> Bienvenue sur Propose ton Projet ! </h1>
            
        <img id="logo_principal" src = "../static/logo_test.png" alt = "logo test du site" title = "logo test du site"/>
        

    </header>
    
    

    <br>
    <br />

    <p id="paragraphe"><em>Propose ton projet </em> est un site qui encourage la démocratie participative de part son concept révolutionnaire.
    Les habitants d'une commune ou d'une région géographique peuvent proposer des projets locaux de même que la mairie !
    L'ensemble des membres de la commune peuvent voter pour ou contre chaque projet et expliciter son avis afin de le faire avancer !
    Les projets les plus votés seront remontés à la mairie afin qu'ils soient examinés par cette dernière !
    </p>

{% endblock %}